@{
    ViewData["Title"] = "Krusty Krab Admin";
}

<div class="text-center">
    <h1 class="display-4">Hello Mr. Krabs</h1>
    <h2>What do you need?</h2>
</div>


<div class="form-group row justify-content-center">
    <a class="btn btn-primary mt-3" asp-controller="Admin" asp-action="Store">View Stores</a>
</div>
<div class="form-group row justify-content-center">
    <a class="btn btn-primary" asp-controller="Admin" asp-action="Customer">View Customers</a>
</div>
